#row {
    white-space: nowrap; /* important */
    overflow: auto;
    /*background-color: #E5DADA;*/
}

td.rangN{
    color: yellowgreen;
    font-weight: bold;
    padding: 5px;
}

 
  .next{
      background:none;
      margin-bottom: 10px;
      margin-top: 10px;
      margin-left: 10px;
      font-family: Verdana;
      font-size: 25px;
      color: orangered;
      font-weight: bold;
  }
 
  
  #slika_slika{
      float: left;
      padding: 30px;
       margin-left: 70px;
      
  }
    #slika_slika2{
      float: left;
      padding: 30px;
       margin-left: 30px;
        padding-top: 50px;
  }
  
  
  #odg_slika{
      float: left;
      align-items: left;
      text-align: left;
     
  }
  
  #wrapp_slika{
      align-items: center;
      align-content: center;
      align-self: center;
      text-align: center;
      
      height: 250px;
      
  }
  
    #wrapp_slika2{
      align-items: center;
      align-content: center;
      align-self: center;
      text-align: center;
      
      height: 470px;
      
  }
  
  #modalText{
      margin-top: 100px;
  }
  
  #modalPicture{
      margin-top: 60px;
      align-items: center;
      text-align: center;
     
  }

.block {
    display: inline-block;
    margin-right: 60px;
 
}

#mapa{
    width: 1350px;
    height: 650px;
    align-items: center;
    align-content: center;
   margin: 0px;
   padding: 0px;
   position: absolute;
   z-index: 10;
}

label{
    padding: 5px;
}

#f1{
    margin-top: 0px;
    padding-top: 0px;
}

body{
   background-color: black; 
   align-items: center;
    align-content: center;
    padding: 5px;
   
    z-index: 1;
}

#sidebar{
   
    
    padding: 15px;
    border-radius: 15px 50px 30px 5px;
    border: 4px solid black;
    text-align: center;
    align-content: center;
   
    z-index:999999;
    position: absolute;
    bottom: 0;
    left: 0;
    
}

p{
    color: white;
    font-size: 15px;
}

#poeni{
    background-color: lightgreen;
    text-align: center;
}

#settings{
    background: none;
    
    border: none;
    
}

#rang{
    background: none;
    
    border: none;
    
}

#dugmici{
  padding-top: 15px;
  text-align: center;
  margin-top: 5px;
  padding-bottom: 10px;
}


#myModalprofil{
    margin-top: 100px;
    margin-left: 70px;
    position: absolute;
    z-index: 50;
}

#myModalrang{
    margin-top: 150px;
    margin-left: 70px;
    position: absolute;
    z-index: 50;
   
}

#rangT{
    width: 297px;
    text-align: center;
}

td.rangO{
    color: white;
    font-weight: bold;
    padding: 5px;
}

#scroll{
    margin:0px;
    padding:0px;
    align-items: center;
    text-align: center;
    /*overflow-y: scroll;*/
    height: 250px;
    background-color: black;
}


/*#rangheader, h4,.close{
     background-color:  darkslategrey;
      color:white !important;
      text-align: center;
      font-size: 30px;
      margin: 0px;
      padding: 5px;
}*/
.modal-header, h4,.close{
     background-color:  #DF9319;
      color:black !important;
      text-align: center;
      font-size: 30px;
      margin: 0px;
      padding: 5px;
}

.modal-body{
    margin:0px;
    padding:0px;
    align-items: center;
    text-align: center;
    background-color: lightgray;
    /*margin-left: 100px;*/
    /*background-color: white;*/
}
#t2{
  padding: 15px;
  font-size: 20px;
  background-color: white;
  margin-top: 10px;
  text-align: center;
  padding-left: 300px;
  margin-left: 100px;
}

#prof{
    background-color: white;
}

#btnLogOut{
    margin-left: 1250px;
    top: 0;
    padding-bottom: 5px;
    margin-bottom: 15px;
    margin-top: 10px;
    z-index: 60;
    position: absolute;
}

