body{
	background-image: url("../img/pozadinahtml.jpg");
	background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
    -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
 


}

.modal fade{
    margin:0px;
    padding:0px;
     display: inline-block;
     
}
.modal-dialog{
     margin:0px;
    padding:0px;
}
.modal-content{
     margin:0px;
    padding:0px;
}
.modal-header{
     margin:0px;
    padding:0px;
}
.modal-title{
     margin:0px;
    padding:0px;
}
.close{
     margin:0px;
    padding:0px;
}
.modal-body{
    margin:0px;
    padding:0px;
    align-items: center;
   
}

#formaa{
    padding: 20px;
    margin: 0px;
    text-align: center;
}


#myModaldodaj{
    margin-top: 200px;
    margin-left: 550px;
 
}

#myModalformaText{
    margin-top: 130px;
    margin-left: 400px;
 
}
#myModalformaPic{
    margin-top: 70px;
    margin-left: 400px;
 
}

#myModalformaEnig{
    margin-top: 70px;
    margin-left: 400px;
 
}
#myModalformaTextizmena{
      margin-top: 70px;
    margin-left: 400px;
}
#myModalformaPicizmena{
    margin-top: 70px;
    margin-left: 400px;
}
#myModalformaEnigizmena{
    margin-top: 70px;
    margin-left: 400px;
}

#scroll{
    margin:0px;
    padding:0px;
    align-items: center;
    text-align: center;
    overflow-y: scroll;
    height: 300px;
     /*width: 700px;*/
}

#userfile{
    margin-left: 170px;
}

#myModalizmena{
    margin-top: 100px;
    margin-left: 400px;
    
   
}

#izbor{
    padding: 20px;
    margin: 0px;
    text-align: center;
}


.button1{
	background-color: #DA0416; /* Green */
    border: 2px black solid;
    color: black;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 34px;
    cursor: pointer;
    float: left;
    margin-right: 10px;
    margin-left: 240px;
    border-radius: 12px;
    font-weight: bold;
    font-family: Verdana;
    width: 320px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin-bottom: 25px;

}

.button3{
    background-color: lightgray;
    border: 2px black solid;
    color: black;
    padding: 5px;
    margin:0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    float: left;  
    border-radius: 12px;   
    font-family: Verdana;
    margin-bottom: 15px;
}

.button2{
    background-color: darkolivegreen;
    color: white;
}
#dod2{
  color: white;
}

.button1:hover{	
	color: white;
}


div{
    margin-top: 310px;
}


form{
  text-align: center;
  vertical-align: center;
  margin: 20px;
}

h4{
    margin-top: 0px;
    padding-top: 5px;
    
}

#t2{
  /*padding: 15px;*/
  font-size: 25px;
  
  margin: 5px;
  align-items: center;
  /*padding-left: 300px;*/
  border: 2px solid black;
  text-align: center;
  vertical-align: middle;
}

tr{
    vertical-align: middle;
    text-align: center;
}
td{
    vertical-align: middle;
    text-align: center;
}


#dugmici{
  padding-top: 15px;
  text-align: center;
  margin-top: 5px;
}

.modal-header, h4, .close {
      background-color:  #2A5D0F;
      color:white !important;
      text-align: center;
      font-size: 30px;
      margin: 0px;
      padding: 5px;
  }

p{
  font-size: 20px;
  padding: 10px;
  margin-top: 0px;
}

#b11:disabled{
  color: #500C0C;
  cursor: default;
}

#b12:disabled{
  color: #500C0C;
  cursor: default;
}
img{
  width: 160px;
  height: 175px;
  margin-right: 10px;

}


.control-group{
  margin:0px;
  padding: 0px;
}

.controls{
  margin:0px;
  padding: 0px;
}
.control-label{
  margin: 0px;
  padding: 0px;
}

label{
  margin: 0px;
  padding: 0px;
}

.help-block{
  margin:0px;
  padding: 0px;
}


